<div class="modal fade" id="deleteModal" role="dialog">
  <div class="modal-dialog modal-md">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Xóa tin tức</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-2">
            <img src="/images/logo_warning.jpg"
              width="65px" />
          </div>
          <div class="col-lg-10">
            <p style="margin: 0px">Bạn có chắc chắn muốn xóa tin tức này ?</p>
            <p style="margin: 0px">Khi thực hiện xóa, hệ thống sẽ xóa toàn bộ các dữ liệu liên quan tới tin tức này.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" style="width: 100px;" class="btn btn-secondary" data-dismiss="modal">Không</button>
        <button type="button" style="width: 100px;" class="btn btn-primary" onclick="deleteNews()">Có</button>
      </div>
    </div>
  </div>
</div>