<div class="modal fade bd-example-modal-lg" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa giấy tờ mẫu</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="form_edit">
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label for="name">Tên giấy tờ mẫu</label>
                <input type="text" class="form-control" id="editNameOfDocuments" name="name"
                  aria-describedby="nameOfDocuments" placeholder="Tên loại giấy tờ" required />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Loại giấy tờ</label>
                <select class="form-control" id="editTypeOfDocuments" name="type" required></select>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Nội dung chính của giấy</label>
            <textarea type="text" class="form-control" id="editDescription" name="description"
              placeholder="Nhập vào nội dung chính của giấy" rows="4" required></textarea>
          </div>

          <a id="editFileA">File đính kèm hiện tại</a>
          <br />

          <div class="form-group">
            <label for="exampleFormControlFile1">Nhập file</label>
            <input type="file" class="form-control-file" name="editDocuments" id="editFile" />
          </div>
        </form>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
          <button class="btn btn-primary" id="submit" onclick="editDocs()">Chỉnh sửa</button>
        </div>
      </div>
    </div>
  </div>
</div>