<div class="modal fade bd-example-modal-lg" id="addOn" tabindex="-1" role="dialog" aria-labelledby="addOn" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Bổ sung thêm phân mục tin tức</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" action="/giay-to/phan-loai">
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="name">Các phân mục cần bổ sung</label>
                  <input type="text" class="form-control" id="name" name="name">
                </div>
              </div>
            </div>
    
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
              <button type="submit" class="btn btn-primary" id="submitAddon">Thêm mới</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>