<div class="sidebar">
  <div class="sidebar-inner">
    <!-- ### $Sidebar Header ### -->
    <div class="sidebar-logo">
      <div class="peers ai-c fxw-nw">
        <div class="peer peer-greed">
          <a class="sidebar-link td-n" href="index.html">
            <div class="peers ai-c fxw-nw">
              <div class="peer">
                <div class="logo" style="padding-top: 7px; padding-left: 7px">
                  <img src="/logo_LTT.png" width="50px" alt="">
                </div>
              </div>
              <div class="peer peer-greed">
                <h5 class="lh-1 mB-0 logo-text">Adminator</h5>
              </div>
            </div>
          </a>
        </div>
        <div class="peer">
          <div class="mobile-toggle sidebar-toggle">
            <a href="" class="td-n">
              <i class="ti-arrow-circle-left"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- ### $Sidebar Menu ### -->
    <ul class="sidebar-menu scrollable pos-r">
      <li class="nav-item mT-30 active">
        <a class="sidebar-link" href="trang-chu">
          <span class="icon-holder">
            <i class="c-blue-500 ti-home"></i>
          </span>
          <span class="title">Trang chủ</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="javascript:void(0);">
          <span class="icon-holder">
            <i class="c-teal-500 ti-view-list-alt"></i>
          </span>
          <span class="title">Quản lí</span>
          <span class="arrow">
            <i class="ti-angle-right"></i>
          </span>
        </a>
        <ul class="dropdown-menu">
          <li class="nav-item dropdown">
            <a href="danh-sach-nhan-su">
              <span>Danh sách nhân sự</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a href="danh-sach-khoa-phong">
              <span>Danh sách các khoa, phòng</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a href="javascript:void(0);">
              <span>Hợp đồng lao động</span>
              <span class="arrow">
                <i class="ti-angle-right"></i>
              </span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="javascript:void(0);">Lưu trữ bản scan hợp đồng</a>
              </li>
              <li>
                <a href="hop-dong-lao-dong">Danh sách các hợp đồng lao động</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a href="dao-tao">
              <span>Quá trình công tác, đào tạo</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a href="khen-thuong-ky-luat;">
              <span>Khen thưởng, kỷ luật</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a href="javascript:void(0);">
              <span>Lương, phụ cấp</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a href="javascript:void(0);">
              <span>Theo dõi nghỉ phép</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="javascript:void(0);">
          <span class="icon-holder">
            <i class="c-indigo-500 ti-bar-chart"></i>
          </span>
          <span class="title">Báo cáo thống kê</span>
          <span class="arrow">
            <i class="ti-angle-right"></i>
          </span>
        </a>
        <ul class="dropdown-menu">
          <li class="nav-item dropdown">
            <a href="javascript:void(0);">
              <span>Báo cáo</span>
              <span class="arrow">
                <i class="ti-angle-right"></i>
              </span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="javascript:void(0);">Lý lịch trích ngang nhân viên</a>
              </li>
              <li>
                <a href="javascript:void(0);">Thông tin liên lạc</a>
              </li>
              <li>
                <a href="javascript:void(0);">Thâm niên công tác nhân viên</a>
              </li>
              <li>
                <a href="javascript:void(0);">Danh sách hợp đồng theo hệ thống tổ chức</a>
              </li>
              <li>
                <a href="javascript:void(0);">Số lượng NV tham gia các khoá đào tạo trong quý, năm</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a href="javascript:void(0);">
              <span>Thống kê</span>
              <span class="arrow">
                <i class="ti-angle-right"></i>
              </span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="javascript:void(0);">Số lượng, chất lượng, cơ cấu nhân viên</a>
              </li>
              <li>
                <a href="javascript:void(0);">Cơ cấu viên chức theo chức danh nghề nghiệp</a>
              </li>
              <li>
                <a href="javascript:void(0);">Tổng hợp kết quả nâng lương, nâng bậc</a>
              </li>
              <li>
                <a href="javascript:void(0);">Danh sách và tiền lương công chức</a>
              </li>
              <li>
                <a href="javascript:void(0);">Công tác bổ nhiệm, bổ nhiệm lại trong các đơn vị</a>
              </li>
              <li>
                <a href="javascript:void(0);">Thống kê thành tích</a>
              </li>
              <li>
                <a href="javascript:void(0);">Trích ngang lý lịch Đảng viên, quá trình công tác</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      </li>

      <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="javascript:void(0);">
          <span class="icon-holder">
            <i class="c-deep-orange-500 ti-calendar"></i>
          </span>
          <span class="title">Sự kiện</span>
          <span class="arrow">
            <i class="ti-angle-right"></i>
          </span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="javascript:void(0);">Lý lịch trích ngang nhân viên</a>
          </li>
          <li>
            <a href="javascript:void(0);">Thông tin liên lạc</a>
          </li>
          <li>
            <a href="javascript:void(0);">Thâm niên công tác nhân viên</a>
          </li>
          <li>
            <a href="javascript:void(0);">Danh sách hợp đồng theo hệ thống tổ chức</a>
          </li>
          <li>
            <a href="javascript:void(0);">Số lượng NV tham gia các khoá đào tạo trong quý, năm</a>
          </li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="javascript:void(0);">
          <span class="icon-holder">
            <i class="c-deep-purple-500 ti-comment-alt"></i>
          </span>
          <span class="title">Tin tức mới</span>
          <span class="arrow">
            <i class="ti-angle-right"></i>
          </span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class='sidebar-link' href="">Tạo, sửa, xoá tin tức, sự kiện chung</a>
          </li>
          <li>
            <a class='sidebar-link' href="">Thông báo qua email</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="javascript:void(0);">
          <span class="icon-holder">
            <i class="c-light-blue-500 ti-layout-cta-left"></i>
          </span>
          <span class="title">Giấy tờ mẫu</span>
          <span class="arrow">
            <i class="ti-angle-right"></i>
          </span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class='sidebar-link' href="">Thêm, sửa, xoá giấy tờ mẫu</a>
          </li>
          <li>
            <a class='sidebar-link' href="">Danh sách các giấy tờ mẫu hiện có</a>
          </li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="dropdown-toggle" href="javascript:void(0);">
          <span class="icon-holder">
            <i class="c-orange-500 ti-user"></i>
          </span>
          <span class="title">Tài khoản</span>
          <span class="arrow">
            <i class="ti-angle-right"></i>
          </span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class='sidebar-link' href="">Tất cả tài khoản</a>
          </li>
          <li>
            <a class='sidebar-link' href="">Tạo tài khoản</a>
          </li>
          <li>
            <a class='sidebar-link' href="">Đổi mật khẩu</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>