.form-control {
  border: 1px solid #9b9ea3;
  border-radius: 8px;
}

.btn i {
  margin-right: 0px;
  font-size: 18px;
}

.card .card-body {
  padding: 1.2rem 1.5rem;
  border: 1px solid #b2b8c1;
  border-radius: 10px;

}

  textarea {
    border-radius: 8px;
}