<div class="modal fade bd-example-modal-lg" id="createNewsCategory" tabindex="-1" role="dialog"
  aria-labelledby="createNewDocuments" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thêm mới phân mục tin tức</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="form_create">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="name">Năm</label>
                <input type="number" class="form-control" id="year" name="year" required />
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label for="name">Các mục chính</label>
                <input type="text" class="form-control" id="category" placeholder="Phân cách bởi dấu ;" name="category"
                  required />
              </div>
            </div>
          </div>
        </form>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
          <button type="submit" class="btn btn-primary" id="submitCreate">Thêm mới</button>
        </div>
      </div>
    </div>
  </div>
</div>