<div class="modal fade bd-example-modal-lg" id="createNew" tabindex="-1" role="dialog" aria-labelledby="createNew"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thêm mới thông tin chức vụ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/he-thong/quan-ly-chuc-vu">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="positionId">Mã chức vụ</label>
                <input type="text" class="form-control" id="positionId" name="positionId" aria-describedby="positionId"
                  placeholder="Mã chức vụ" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">Tên chức vụ</label>
                <input type="text" class="form-control" id="name" name="name" aria-describedby="name" placeholder="Tên chức vụ"
                  required>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="description">Mô tả</label>
                <textarea class="form-control" id="description" name="description" placeholder="Mô tả" rows="5"
                  required></textarea> 
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            <button type="submit" class="btn btn-primary" id="submit">Thêm mới</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>