<script>
  function getNS() {
    $('.listNS').empty();
    $.ajax({
      url: `/quan-ly/danh-sach-nhan-su/list`,
      method: "GET",
      success: function (result) {
        if (result.success == true) {
          result.data.map((item, index) => {
            if (item.cuuNhanVien == false) {
              $('.listNS').append(
                '<tr class="temp">' +
                '<td><input class="caseDO" type="checkbox" value="' + item._id + '" />' +
                '</td>' +
                '<td>' + item.usersCardNumber +
                '</td>' +
                '<td>' + item.name +
                '</td>' +
                '<td>' + (item.belongToDepartment ? item.belongToDepartment.name : "") +
                '</td>' +
                '</tr>'
              )
            }
          })
        }
        $('#Table-listNS').DataTable();
      }
    })
  }

  $(".closes").click(function () {
    $('.listNS').each(function () {
      $(this).find('.temp').remove();
    });
  })
</script>

<script>
  $(document).on('click', '#createDayOff', function () {

    let usersList1 = $('.caseDO:checkbox:checked').map(function () {
      return $(this).val();
    }).get();

    if (usersList1 == ""  || !usersList1 ) {
      $.notify("Vui lòng chọn nhân sự!", "warn", {
        style: "bootstrap",
        showDuration: 10
      });
    } else {
      if ($("#form_create").valid()) {
      var data = {
        usersList: JSON.stringify(usersList1),
        date: $('#ngayNghi').val(),
        isApprove: $('#trangThai').val(),
        reason: $('#lyDo').val(),
      }

      $.ajax({
        url: `/quan-ly/ngay-nghi`,
        type: 'POST',
        dataType: 'json',
        data: data,
        success: function (res) {
          if (res) {
            user = "";
            $.notify("Thêm ngày nghỉ thành công", "success", {
              style: "bootstrap",
              showDuration: 1
            });
            setTimeout(function() {
              window.location.reload();
            }, 800);
          }
        }
      })
      }
    }
  });
</script>

<script>
  var UserID;
  var DeleteId;
  var detailID;

  function getInfo(id) {
    UserID = id;

    var selectYear = $('#selectYear').val();

    $.ajax({
      url: `/quan-ly/ngay-nghi/${UserID}`,
      method: "GET",
      success: function (result) {
        if (result.success == true) {
          result.data.detail.map((item, index) => {
            if (item.year == selectYear) {
              detailID = item._id;
              $("#soNgayNghi").val(item.absenceDetail.length)
              item.absenceDetail.map((item1, index1) => {
                if (item1.date != "") {
                  var toDate2 = moment(item1.date).format('DD-MM-YYYY');
                } else {
                  var toDate2 = "";
                }
                if (item1.isApprove = true) {
                  var approve = "Có phép"
                } else {
                  var approve = "Không phép"
                };
                $('.listDayoff').append(
                  '<tr class="tempYear">' +
                  '<td>' +
                  '<button type="button" class="btn btn-icons btn-rounded btn-outline-primary" onclick="removeNgaynghi(`' +
                  item1._id + '`)" >' +
                  '<i class="fa fa-trash-o"></i>' +
                  '</button>' +
                  '</td>' +
                  '<td>' + toDate2 +
                  '</td>' +
                  '<td>' + approve +
                  '</td>' +
                  '<td>' + item1.reason +
                  '</td>' +
                  '</tr>'
                )
              })
            }
          })
        }
      }
    })
  }

  $('#selectYear').change(function () {

    var selectYear = $('#selectYear').val();

    $.ajax({
      url: `/quan-ly/ngay-nghi/${UserID}`,
      method: "GET",
      success: function (result) {
        if (result.success == true) {
          result.data.detail.map((item, index) => {
            if (item.year == selectYear) {
              detailID = item._id;
              $("#soNgayNghi").val(item.absenceDetail.length)
              item.absenceDetail.map((item1, index1) => {
                if (item1.date != "") {
                  var toDate2 = moment(item1.date).format('DD-MM-YYYY');
                } else {
                  var toDate2 = "";
                }
                if (item1.isApprove = true) {
                  var approve = "Có phép"
                } else {
                  var approve = "Không phép"
                };
                $('.listDayoff').append(
                  '<tr class="tempYear">' +
                  '<td>' +
                  '<button type="button" class="btn btn-icons btn-rounded btn-outline-primary" onclick="removeNgaynghi(`' +
                  item1._id + '`)>' +
                  '<i class="fa window-close-o">' +
                  '</i>' +
                  '</button>' +
                  '</td>' +
                  '<td>' + toDate2 +
                  '</td>' +
                  '<td>' + approve +
                  '</td>' +
                  '<td>' + item1.reason +
                  '</td>' +
                  '</tr>'
                )
              })
            }
          })
        }
      }
    })
  })

  $(".closes").click(function () {
    $('.listNS').each(function () {
      $(this).find('.temp').remove();
    });
  })

  $(".closes").click(function () {
    $('.listDayoff').each(function () {
      $(this).find('.tempYear').remove();
      $("#soNgayNghi").val("0");
    });
  })

  function removeNgaynghi(id) {
    DeleteId = id;
    $.ajax({
      url: `/quan-ly/ngay-nghi/${UserID}/${detailID}/${DeleteId}`,
      method: "DELETE",
      success: function (result) {
        UserID = "";
        detailID = "";
        DeleteId = "";
        $.notify("Xóa ngày nghỉ thành công", "success", {
          style: "bootstrap",
          showDuration: 1
        });
        setTimeout(function() {
          window.location.reload();
        }, 800);
      }
    })
  }
</script>