<div class="modal fade" id="reset-password" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Reset Password</h4>
        <button type="button" class="close closes" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-12">
                <div class="table-responsive">
                  <table id="Table-listNS1" class="table table-striped">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Số hiệu cán bộ</th>
                        <th>Họ và tên</th>
                        <th>Khoa\phòng</th>
                      </tr>
                    </thead>
                    <tbody class="listNS1">

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="" class="col-sm-12 control-label">Thông tin</label>
                  <div class="col-sm-12">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label for="" class="col-sm-12 control-label">Mật khẩu</label>
                        <input 
                        id="password" 
                        type="password" 
                        class="form-control" 
                        placeholder="Mật khẩu mới"
                        required
                        maxlength="20"
                        minlength="6"
                        />
                      </div>
                    </div>
                    
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label for="" class="col-sm-12 control-label">Xác nhận mật khẩu</label>
                        <input 
                        id="rePassword" 
                        type="password" 
                        class="form-control" 
                        placeholder="Nhập lại mật khẩu"
                        required
                        maxlength="20"
                        minlength="6"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary closes" data-dismiss="modal">Đóng</button>
        <button type="submit" id="reset" class="btn btn-primary">Xác nhận</button>
      </div>
    </div>
  </div>
</div>