<script>
  function getNS() {
    $(".listNS").empty();
    $.ajax({
      url: `/quan-ly/danh-sach-nhan-su/list`,
      method: "GET",
      success: function(result) {
        if (result.success == true) {
          result.data.map((item, index) => {
            $(".listNS").append(
              '<tr class="temp">' +
              '<td><input class="case" type="checkbox" value="' +
              item._id +
              '" />' +
              "</td>" +
              "<td>" +
              item.usersCardNumber +
              "</td>" +
              "<td>" +
              item.name +
              "</td>" +
              "<td>" +
              (item.belongToDepartment ? item.belongToDepartment.name : "Chưa có") +
              "</td>" +
              "</tr>"
            );
          });
        }
        $("#Table-listNS").DataTable();
      }
    });
  }

  $(".closes").click(function() {
    $(".listNS").each(function() {
      $(this).find(".temp").remove();
    });
  });
</script>

<script>
  function getNS1() {
    $(".listNS1").empty();
    $.ajax({
      url: `/quan-ly/danh-sach-nhan-su/list`,
      method: "GET",
      success: function(result) {
        if (result.success == true) {
          result.data.map((item, index) => {
            $(".listNS1").append(
              '<tr class="temp1">' +
              '<td><input class="case_RP" type="checkbox" value="' +
              item._id +
              '" />' +
              "</td>" +
              "<td>" +
              item.usersCardNumber +
              "</td>" +
              "<td>" +
              item.name +
              "</td>" +
              "<td>" +
              (item.belongToDepartment ? item.belongToDepartment.name : "Chưa có") +
              "</td>" +
              "</tr>"
            );
          });
        }
        $("#Table-listNS1").DataTable();
      }
    });
  }

  $(".closes").click(function() {
    $(".listNS1").each(function() {
      $(this).find(".temp1").remove();
    });
  });
</script>

<script>
  $(document).on("click", "#create-Roles", function() {
    let usersList1 = [];
    usersList1 = $(".case:checkbox:checked").map(function() {
        return $(this).val();
      }).get();

    let roles1 = [];
    roles1 = $(".caseRoles:checkbox:checked").map(function() {
        return $(this).val();
      }).get();

    if (!roles1 || !usersList1 || roles1 == "" || usersList1 == "" ) {
      $.notify("Vui lòng chọn nhân sự!", "info", {
        style: "bootstrap",
        showDuration: 10
      });
    } else {
      let dataRole = {
        usersList: JSON.stringify(usersList1),
        roles: JSON.stringify(roles1)
      };
      
      $.ajax({
        url: "/users/roles",
        type: "POST",
        dataType: "json",
        data: dataRole,
        success: function(res) {
          if (res) {
            $.notify("Chỉnh sửa quyền truy cập thành công", "success", {
              style: "bootstrap",
              showDuration: 1
            });
            setTimeout(function() {
              window.location.reload();
            }, 800);
          }
        }
      });
    }
  });
</script>

<script>
  $(document).on("click", "#reset", function() {
    let user = $(".case_RP:checkbox:checked").val();

    if (!user || user == "") {
      $.notify("Vui lòng chọn nhân sự!", "warn", {
        style: "bootstrap",
        showDuration: 10
      });
    } else {
      if($("#form_RP").valid()){
        let password = $("#password").val();
        let rePassword = $("#rePassword").val();

        if (password === rePassword) {
          let dataReset = {
            password,
            rePassword,
            id: user
          };

          $.ajax({
            url: "/users/reset-password",
            type: "POST",
            dataType: "json",
            data: dataReset,
            success: function(res) {
              if (res) {
                $.notify("Reset password thành công", "success", {
                  style: "bootstrap",
                  showDuration: 1
                });
                setTimeout(function() {
                  window.location.reload();
                }, 800);
              }
            }
          });
        } else {
          $.notify("Password không trùng khớp", "error", {
            style: "bootstrap",
            showDuration: 1
          });
        }
      }
    }
  });
</script>
