<div class="modal fade" id="createKL" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Thêm thông tin kỷ luật</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form id="form_createKL">
        <div class="row">
          <div class="col-lg-7">
            <div class="table-responsive">
              <table id="SelectKL" class="table table-striped">
                <thead>
                  <tr>
                    <th></th>
                    <th>Số hiệu cán bộ</th>
                    <th>Họ và tên</th>
                    <th>Khoa/phòng</th>
                  </tr>
                </thead>
                <tbody>
                  <% users.map((item,index) =>{%>
                    <% if(item.cuuNhanVien == false){%>
                  <tr>
                    <td><input class="caseKL" type="checkbox" value="<%- item._id %>" />
                    </td>
                    <td>
                      <%- item.usersCardNumber %>
                    </td>
                    <td>
                      <%- item.name %>
                    </td>
                    <td>
                      <%- (item.belongToDepartment ? item.belongToDepartment.name : null) %>
                    </td>
                  </tr>
                  <%}%>
                  <%})%>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="col-lg-12">
              <div class="form-group">
                <label for="" class="col-sm-12 control-label">Số quyết định</label>
                <input id="SoKL" name="SoKL" required type="text" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="">Ngày hiệu lực</label>
                <div class="row ">
                  <div class="col-sm-12">
                    <input id="Ngayhieuluc" name="Ngayhieuluc" required type="text" class="form-control">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="">Ngày hết hiệu lực</label>
                <div class="row ">
                  <div class="col-sm-12">
                    <input id="Ngayhethieuluc" name="Ngayhethieuluc" required type="text" class="form-control">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <label for="" class="col-sm-12 control-label">Cấp ra quyết định</label>
                <input id="CapKL" name="CapKL" required type="text" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <label for="" class="col-sm-12 control-label">Hình thức kỷ luật</label>
                <input id="HinhthucKL" name="HinhthucKL" required type="text" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <label for="" class="col-sm-12 control-label">Lý do kỷ luật</label>
                <textarea id="LydoKL" name="LydoKL" required type="text" class="form-control" row="4" placeholder=""></textarea>
              </div>
            </div>

          </div>
        </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="button" id="create_discipline" class="btn btn-primary">Tạo</button>
      </div>
    </div>
  </div>
</div>