<div class="col-lg-5 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Các sự kiện sắp diễn ra</h4>
      <div class="accordion accordion-solid-bg" id="accordion-2" role="tablist">
        <div class="card">
          <div class="card-header" role="tab" id="headingOne-2">
            <h5 class="mb-0">
              <a
                data-toggle="collapse"
                href="#collapseOne-2"
                aria-expanded="true"
                aria-controls="collapseOne-2"
              >
                <i class="card-icon mdi mdi-checkbox-marked-circle-outline" id="collapseOne-2-title"
                  >Nhân sự sắp sinh nhật (0)</i
                >
              </a>
            </h5>
          </div>
          <div
            id="collapseOne-2"
            class="collapse"
            role="tabpanel"
            aria-labelledby="headingOne-2"
            data-parent="#accordion-2"
          >
            <div class="card-body" id="collapseOne-2-row">
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingOne-2">
            <h5 class="mb-0">
              <a
                data-toggle="collapse"
                href="#collapseOne-4"
                aria-expanded="false"
                aria-controls="collapseOne-4"
              >
                <i class="card-icon mdi mdi-checkbox-marked-circle-outline"
                  >Nhân sự sắp hết hạn hợp đồng (0)</i
                >
              </a>
            </h5>
          </div>
          <div
            id="collapseOne-4"
            class="collapse"
            role="tabpanel"
            aria-labelledby="headingOne-4"
            data-parent="#accordion-4"
          >
            <div class="card-body" id="collapseOne-4-row">
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingOne-2">
            <h5 class="mb-0">
              <a
                data-toggle="collapse"
                href="#collapseOne-3"
                aria-expanded="false"
                aria-controls="collapseOne-3"
              >
                <i class="card-icon mdi mdi-checkbox-marked-circle-outline"
                  >Nhân sự sắp hết hạn bổ nhiệm (0)</i
                >
              </a>
            </h5>
          </div>
          <div
            id="collapseOne-3"
            class="collapse"
            role="tabpanel"
            aria-labelledby="headingOne-3"
            data-parent="#accordion-3"
          >
            <div class="card-body" id="collapseOne-3-row">
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingOne-2">
            <h5 class="mb-0">
              <a
                data-toggle="collapse"
                href="#collapseOne-3"
                aria-expanded="false"
                aria-controls="collapseOne-3"
              >
                <i class="card-icon mdi mdi-checkbox-marked-circle-outline"
                  >Nhân sự sắp nâng lương (0)</i
                >
              </a>
            </h5>
          </div>
          <div
            id="collapseOne-3"
            class="collapse"
            role="tabpanel"
            aria-labelledby="headingOne-3"
            data-parent="#accordion-3"
          >
            <div class="card-body" id="collapseOne-3-row">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
