<div class="modal fade" id="editKT" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Chỉnh sửa và duyệt thông tin khen thưởng</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form id="form_editKT">
        <div class="row">
          <div class="col-lg-4">
            <div class="form-group">
              <label for="" class="col-sm-12 control-label">Số quyết định</label>
              <input id="editSoKT" name="editSoKT" required type="text" class="form-control" placeholder="">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label for="">Ngày quyết định</label>
              <div class="row ">
                <div class="col-sm-12">
                  <input id="editNgayquyetdinh" name="editNgayquyetdinh" required type="text" class="form-control">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label for="" class="col-sm-12 control-label">Cấp ra quyết định</label>
              <input id="editCapKT" name="editCapKT" required type="text" class="form-control" placeholder="">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="" class="col-sm-12 control-label">Danh hiệu</label>
              <input id="editDanhhieuKT" name="editDanhhieuKT" required type="text" class="form-control" placeholder="">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="" class="col-sm-12 control-label">Hình thức khen thưởng</label>
              <input id="editHinhthucKT" name="editHinhthucKT" required type="text" class="form-control" placeholder="">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="" class="col-sm-12 control-label">Thành tích đạt được</label>
              <textarea id="editThanhtichKT" name="editThanhtichKT" required type="text" class="form-control" row="4" placeholder=""></textarea>
            </div>
          </div>
        </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary" onclick="editAward()">Xác nhận</button>
      </div>
    </div>
  </div>
</div>