<div class="modal fade" id="createKL" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Thêm thông tin kỷ luật</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-4">
            <div class="form-group">
              <label for="" class="col-sm-12 control-label">Số quyết định</label>
              <input id="SoKL" type="text" class="form-control " placeholder="">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="">Ngày hiệu lực</label>
              <div class="row ">
                <div class="col-sm-12">
                  <input id="Ngayhieuluc" type="text" class="form-control ">
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="">Ngày hết hiệu lực</label>
              <div class="row ">
                <div class="col-sm-12">
                  <input id="Ngayhethieuluc" type="text" class="form-control ">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="" class="col-sm-12 control-label">Cấp ra quyết định</label>
              <input id="CapKL" type="text" class="form-control  " placeholder="">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="" class="col-sm-12 control-label">Hình thức kỷ luật</label>
              <input id="HinhthucKL" type="text" class="form-control  " placeholder="">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="" class="col-sm-12 control-label">Lý do kỷ luật</label>
              <textarea id="LydoKL" type="text" class="form-control" row="4" placeholder=""></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="button" id="create_discipline" data-dismiss="modal" class="btn btn-primary" onclick="createDiscipline()">Tạo</button>
      </div>
    </div>
  </div>
</div>