<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Đổi mật khẩu</title>
    <link rel="stylesheet" href="/vendors/iconfonts/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="/css/vendor.bundle.base.css" />
    <link rel="stylesheet" href="/css/vendor.bundle.addons.css" />
    <link rel="stylesheet" href="/css/style_2.css" />
    <link rel="stylesheet" href="/css/style_1.css" />
    <link rel="shortcut icon" href="/images/favicon.png" />
  </head>

  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div
          class="content-wrapper d-flex align-items-center auth register-bg-1 theme-one"
        >
          <div class="row w-100">
            <div class="col-lg-4 mx-auto">
              <h2 class="text-center mb-4">Đổi mật khẩu</h2>
              <div class="auto-form-wrapper">
                <div class="form-group">
                  <div class="input-group">
                    <input
                      type="password"
                      id="oldPassword"
                      name="oldPassword"
                      class="form-control"
                      placeholder="Mật khẩu cũ"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <input
                      type="password"
                      id="password"
                      name="password"
                      class="form-control"
                      placeholder="Mật khẩu mới"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <input
                      type="password"
                      id="passwordAgain"
                      class="form-control"
                      placeholder="Nhập lại mật khẩu"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button
                    type="submit"
                    id="changePassword"
                    class="btn btn-primary submit-btn btn-block"
                  >
                    Đổi mật khẩu
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/vendor.bundle.base.js"></script>
    <script src="/js/vendor.bundle.addons.js"></script>
    <script src="/js/off-canvas.js"></script>
    <script src="/js/misc.js"></script>
    <script>
      $(document).on("click", "#changePassword", function() {
        let password1 = $("#password").val();
        let passwordAgain1 = $("#passwordAgain").val();
        if (password1 === passwordAgain1) {
          let data = {
            password: $("#password").val(),
            oldPassword: $("#oldPassword").val(),
            passwordAgain: $("#passwordAgain").val()
          };
          $.ajax({
            url: "/users/doi-mat-khau",
            type: "POST",
            dataType: "json",
            data: data,
            success: function(result) {
              if (result) {
                alert("Đổi passord thành công. Vui lòng đăng nhập lại");
                window.location.reload();
              }
            }
          });
        } else {
          alert("Nhập lại mật khẩu không khớp");
        }
      });
    </script>
  </body>
</html>
