<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Đăng nhập</title>
  <link rel="stylesheet" href="/vendors/iconfonts/mdi/css/materialdesignicons.min.css" />
  <link rel="stylesheet" href="/css/vendor.bundle.base.css" />
  <link rel="stylesheet" href="/css/vendor.bundle.addons.css" />
  <link rel="stylesheet" href="/css/style_2.css" />
  <link rel="stylesheet" href="/css/style_1.css" />
  <link rel="shortcut icon" href="/images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
      <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">
            <div class="auto-form-wrapper">
              <form method="POST" action="/users/dang-nhap" id="form-login">
                <div class="form-group">
                  <label class="label">Email</label>
                  <div class="input-group">
                    <input type="email" name="username" class="form-control" placeholder="abc@gmail.com"/>
                  </div>
                </div>

                <div class="form-group">
                  <label class="label">Mật khẩu</label>
                  <div class="input-group">
                    <input type="password" name="password" class="form-control" placeholder="******"/>
                  </div>
                </div>

                <div class="form-group">
                  <button class="btn btn-primary submit-btn btn-block" type="submit">
                    Đăng nhập
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/vendor.bundle.base.js"></script>
  <script src="/js/vendor.bundle.addons.js"></script>
  <script src="/js/off-canvas.js"></script>
  <script src="/js/misc.js"></script>
  <script>
    $("#form-login").validate({
      rules: {
        username: {
            required: true,
            maxlength: 40,
            email: true
        },
        password: {
            required: true,
            minlength: 6,
            maxlength: 20
        }
      },
      messages: {
        username: {
          maxlength: "Vui lòng nhập không quá 40 kí tự",
          email: "Vui lòng nhập email",
          required: "Vui lòng nhập email",
        },
        password: {
          required: "Vui lòng nhập password",
          minlength: "Vui lòng nhập ít nhất 6 kí tự",
          maxlength: "Vui lòng nhập không quá 20 kí tự"
        }
      },
      submitHandler: function(form) {
        form.submit();
      }
    });
  </script>
</body>

</html>