<div class="modal fade" id="editGP" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Chỉnh sửa và duyệt giải pháp, sáng kiến</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-2">
            <div class="col-lg-12 form-group">
              <label for="" class="control-label">
                <p style="margin-bottom: 0px; margin-top: 0px">Năm</p>
              </label>
              <select id="editnamgiaiphap" class="text custom-select form-control">
                <option value=""></option>
                <%for( let i = timeYear; i >= 1975; i -- ) {%>
                <option value="<%- i %>">
                  <%- i %>
                </option>
                <%}%>
              </select>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label for="" class="col-sm-12 control-label">Loại đề tài</label>
              <div class="col-sm-12">
                <input id="editloaiDetai" type="text" class="form-control" placeholder="">
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <label for="" class="col-sm-12 control-label">Xếp loại</label>
              <div class="col-sm-12">
                <input id="editxepLoai" type="text" class="form-control" placeholder="">
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <label for="" class="col-sm-12 control-label">Cấp</label>
              <div class="col-sm-12">
                <input id="editcap" type="text" class="form-control" placeholder="">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="" class="col-sm-12 control-label">Đề tài sáng kiến, giải pháp</label>
              <div class="col-sm-12">
                <input id="editdeTai" type="text" class="form-control" placeholder="">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="" class="col-sm-12 control-label">Ghi chú</label>
              <div class="col-lg-12">
                <textarea id="editghiChu" type="text" class="form-control text" rows="2"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary" onclick="edit_GP()">Xác nhận</button>
      </div>
    </div>
  </div>
</div>