<script>
$('#search-button').on('click', function() {
  let data = {
      name: $('#Ten').val(),
      gender: $('#gioitinh').val(),
      birthday: $('#NgaySinh').val(),
      // placeBirth: $('.search_input').val(),
      IDCard: $('#cmnd').val(),
      salaryLevel: $('#bacluong').val(),
      skip,
    };

    $(' #list-employee').hide();

  $.ajax({
    url: '/tim-kiem-ho-so',
    type: 'get',
    data,
    complete: function (res) {
      skip = res.skip;
     
      $.each(res, function (index, item) {
        $(' #search-list').append(
                          '<tr id="1">' +
                           + '<td>'+
                            +  '<button type="button" class="btn btn-icons btn-rounded btn-outline-primary">'+
                              +  '<a href="./chinh-sua-ho-so">'+
                               +   '<i class="fa fa-edit"></i>'+
                             +   '</a>'+
                            +  '</button>'+
                             + '<button type="button" class="btn btn-icons btn-rounded btn-outline-primary" onclick="removeProfile()" data-toggle="modal" data-target="#deleteModal">'+
                             +   '<i class="fa fa-trash-o"></i>'+
                            +  '</button>'+
                           + '</td>'+
                           + '<td data-toggle="modal" data-target="#info1"></td>'+
                           + '<td data-toggle="modal" data-target="#info1"></td>'+
                           + '<td data-toggle="modal" data-target="#info1"></td>'+
                           + '<td data-toggle="modal" data-target="#info1"></td>'+
                           + '<td data-toggle="modal" data-target="#info1"></td>'+
                           + '<td data-toggle="modal" data-target="#info1"></td>'+
                          + '<td data-toggle="modal" data-target="#info1"></td>'+
                           + '<td data-toggle="modal" data-target="#info1"></td>'+
                           + '<td data-toggle="modal" data-target="#info1"></td>'+
                            +'<td data-toggle="modal" data-target="#info1"></td>'+
                           + '<td data-toggle="modal" data-target="#info1"></td>'+
                          +'</tr>'
        )
      })
    }
  })
});
</script>